<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
    /* Email styles need to be inline */
  </style>
</head>

<body>
Восставноление пароля на BlackList.
Вашему аккаунту присвоен новый пароль: <%= @password %>
</body>
</html>
